body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #F6F8F9;
}

header{
    background-color: white;
    margin: 0;
}


main{
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.logo{
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Ubuntu', sans-serif;
}


.button-box{
    max-width: 1200px;
    border-bottom: solid #F6F8F9 2px;
    padding-left: 50px;
    padding-bottom: 20px;
}


.button1{
    color: white;
    background-color: #47ADF1;
    border-color: #47ADF1;
    height: 30px;
    width: 80px;
    border-radius: 10px 10px 10px 10px;
}

.button2{
    color: #C8CED3;
    background-color: white;
    height: 30px;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    border-color: #C8CED3;
}

.main-section{
    padding-left: 50px;
}

h2{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Sofia Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;  
    font-size: 20px;
    margin-bottom: 0;
}

h2::before{
    content: '\25BC';
    vertical-align: middle;
    padding-right: 10px;
}

h3{
    display: inline-block;
    font-weight: 100;
    margin-top: 5px;
}

.pseudo-elements::before{
    display: inline-block;
    content: '\2713';
    color: #65C1AA;
    width: 20px;
    height: 20px;
    border: 2px solid #65C1AA ;
    border-radius: 50%;
    text-align: center;
}


.pseudo-elements::after{
    display: inline-block;
    content: "Editorial";
    color: white;
    font-weight: lighter;
    font-size: 14px;
    background-color: #45ABEA;
    height: 20px;
    width: 70px;
    border: solid #45ABEA;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.pseudo-elements1::before{
    display: inline-block;
    content: '\2713';
    color: #65C1AA;
    width: 20px;
    height: 20px;
    border: 2px solid #65C1AA ;
    border-radius: 50%;
    text-align: center;
}

.pseudo-elements1::after{
    display: inline-block;
    content: "Q1 Goals";
    color: white;
    font-weight: lighter;
    font-size: 14px;
    background-color: #9C72E4;
    height: 20px;
    width: 70px;
    border: solid #9C72E4;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.pseudo-elements2::before{
    display: inline-block;
    content: '\2715';
    color: #ed6158;
    width: 20px;
    height: 20px;
    border: 2px solid #ed6158 ;
    border-radius: 50%;
    text-align: center;
}

.pseudo-elements2::after{
    display: inline-block;
    content: "Recruiting";
    color: white;
    font-weight: lighter;
    font-size: 14px;
    background-color: #65C1AA;
    height: 20px;
    width: 70px;
    border: solid #65C1AA;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.pseudo-elements3::before{
    display: inline-block;
    content: '\2713';
    color: #65C1AA;
    width: 20px;
    height: 20px;
    border: 2px solid #65C1AA ;
    border-radius: 50%;
    text-align: center;
}

.pseudo-elements3::after{
    display: inline-block;
    content: "Mobile";
    color: white;
    font-weight: lighter;
    font-size: 14px;
    background-color: #F29E33;
    height: 20px;
    width: 70px;
    border: solid #F29E33;
    border-radius: 10px 10px 10px 10px;
    text-align: center;   
}

.pseudo-elements4::before{
    display: inline-block;
    content: '\2715';
    color: #ed6158;
    width: 20px;
    height: 20px;
    border: 2px solid #ed6158 ;
    border-radius: 50%;
    text-align: center;
}